body {
	margin: 		0px;
	padding:		0px;
	overflow: 	    hidden;
}

.ticker {
	position:		relative;
	visibility:		visible;
	overflow: 	    hidden;
	margin:			0px;
	width:			200%;
}

.link {
	underline: 		none;
}

.item {
	margin:			0px;
	cursor:			hand;
	cursor:			pointer; 
	padding-left:	1em;
	padding-right:	1em;
}

a { 
	text-decoration: none;
}